package web

templ Nav() {
	<nav class="navbar bg-base-200">
		<div class="flex-1">
			<a class="btn btn-ghost text-xl" href="/">Valik</a>
		</div>
		<div class="flex-none">
			<ul class="menu menu-horizontal px-1">
				<li>
					<a href="/helloworld">Hello World</a>
				</li>
				<li>
					<a href="/another">Another one</a>
				</li>
			</ul>
		</div>
	</nav>
}
